* {
    font-family: 'Source Sans Pro', sans-serif;
}
.nav {
    font-weight: bold;
}
.head {
    position: sticky;
}
.nav:hover {
    text-decoration: underline;
    color: navy;
}
.placeholder {
    max-width: 100%;
    height: auto;
}

.jumbotron {
    background-image: url("../assets/placeholder.png"); 
    background-position: center; 
    background-size: contain; 
    background-repeat: no-repeat;
}
.jumbotron-2 {
   background-image: none;
    background-color: white;
    margin-bottom: 0px;
    padding: 0px;
}